Redhotminute.Plugin.iOS.AnimatedTransitions/bin/Debug
Redhotminute.Plugins.iOS.AnimatedTransitions_temp
Redhotminute.Plugin.iOS.AnimatedTransitions/obj
Redhotminute.Plugin.iOS.AnimatedTransitions.userprefs
bin
obj
packages
*.db
