{
  "MainProjectName": "Redhotminute.Xamarin.iOS.AnimatedTransitions",
  "SolutionFile": "src/Redhotminute.Xamarin.iOS.AnimatedTransitions.sln",
  "IOSProjectFile": "src/Redhotminute.Xamarin.iOS.AnimatedTransitions/Redhotminute.Xamarin.iOS.AnimatedTransitions.csproj",
  "NuSpecFile": "nuget/Redhotminute.Xamarin.iOS.AnimatedTransitions.nuspec",
}